imageio>=2.9.0
imageio-ffmpeg>=0.4.5
ipython>=8.4.0
matplotlib>=3.2.2
more_itertools>=8.7.0
numpy>=1.18.5
omegaconf>=2.3.0
opencv-python>=4.1.2
pandas>=1.2.3
Pillow
psutil>=5.9.1
pyside6>=6.5.1.1
PyYAML>=5.3.1
requests>=2.25.1
scipy>=1.4.1
seaborn>=0.11.1
tensorboard>=2.4.1
torch>=2.0
torchaudio>=0.8.1
torchvision>=0.8.1
tqdm>=4.41.0
ultralytics>=8.0.59
